.Show {
  color: #fff;
  font-family: Maven Pro;
  text-transform: uppercase;
  margin: 40px;
}
.Show h1 {
  font-size: 28px;
  margin-bottom: 40px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: radial-gradient(
    299.2% 165.53% at 0% 2.87%,
    #000000 0%,
    #555 100%
  );
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  padding: 40px;
}
.container img {
  width: 100%;
  height: auto;
  max-width: 350px;
  object-fit: cover;
}
.container .info {
  margin-left: 40px;
  margin-top: 0;
}

.Show h4 {
  color: #777;
  margin-bottom: 40px;
}

.info button {
  color: #fff;
  background-color: #104fbd;
  padding: 8px 12px;
  text-transform: uppercase;
  font-family: Maven Pro;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.info div {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.info div button {
  color: #0d3f95;
  padding: 8px 22px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: Maven Pro;
  border-radius: 4px;
  cursor: pointer;
}

.review-div{
  margin-top: 40px;
  background: radial-gradient(
    299.2% 165.53% at 0% 2.87%,
    #000000 0%,
    #555 100%
  );
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  padding: 40px;
}

.review-div .review-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-div .review-title button {
  color: #fff;
  padding: 10px 18px;
  background-color: #104fbd;
  border: none;
  text-transform: uppercase;
  font-family: Maven Pro;
  border-radius: 4px;
  cursor: pointer;
}

.review-div ul {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  list-style: none;
}

.review-div li {
  width: 100%;
}

.review-div li div {
  padding: 0 20px;
}


.review-div li p {
  margin: 20px 0;
}

.review-div li button {
  color: #0d3f95;
  padding: 6px 10px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: Maven Pro;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .container {
    flex-direction: column;
  }

  .container .info {
    margin-left: 0;
    margin-top: 40px;
    padding: 0 20px;
  }

  .container .info {
    margin-left: 0;
    margin-top: 40px;
  }
  .info h2 {
    text-align: center;
  }
}
