.Home {
  color: #fff;
  text-transform: uppercase;
  margin: 60px;
  text-align: start;
  height: 100vh;
}

.Home .call {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.call img {
  width: 100%;
  height: auto;
  max-width: 800px;
  object-fit: contain;
}

.Home h2 {
  font-family: Maven Pro;
  text-align: center;
  margin-top: 60px;
}

.Home h1 {
  font-family: Yeseva One;
  font-size: 52px;
}

.Home button {
  color: #fff;
  background-color: #104fbd;
  padding: 12px 20px;
  text-transform: uppercase;
  font-family: Maven Pro;
  margin-top: 50px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 350ms;
  width: 400px;
  margin-bottom: 80px;
}

.Home button:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 940px) {
  .Home .call {
    flex-direction: column;
    justify-content: space-between;
  }

  .Home h2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 660px) {
  .Home {
    text-align: center;
  }

  .Home button {
    width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .Home h1 {
    font-size: 32px;
  }
}
