.Home {
  color: #fff;
  text-transform: uppercase;
  margin: 60px;
  text-align: start;
  height: 100vh;
}

.Home h2 {
  font-family: Maven Pro;
}

.Home h1 {
  font-family: Yeseva One;
  font-size: 52px;
}

.Home button {
  color: #fff;
  background-color: #104fbd;
  padding: 12px 20px;
  text-transform: uppercase;
  font-family: Maven Pro;
  margin-top: 50px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 350ms;
  width: 250px;
}

.Home button:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 660px) {
  .Home {
    text-align: center;
  }

  .Home button {
    width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .Home h1 {
    font-size: 32px;
  }
}
