

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    font-family: Maven Pro;
    border-bottom: 1px solid #fff;
}

nav div {
    display: flex;
}

nav div h1 {
    margin: 0 10px;
    font-family: Maven Pro;
    text-transform: uppercase;
    font-size: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

.home {
    font-family: Yeseva One;
    border: 1px solid #fff;
    background-color: #104FBD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}